<section class="l-footer">
    <div class="footer">
        <div class="footer__social hide-on-desktop hide-on-tablet">
            <a href="#"><img src="./img/social-wup.svg" alt=""></a>
            <a href="#"><img src="./img/social-viber.svg" alt=""></a>
            <a href="#"><img src="./img/social-teleg.svg" alt=""></a>
            <a href="#"><img src="./img/social-inst.svg" alt=""></a>
        </div>
        <div class="footer__copy">Сайт сделан студией <a target="_blank" href="https://madekruto.ru/">Madekruto</a></div>
        <div class="footer__logo hide-on-mobile hide-on-tablet"><a href="/"><img src="./img/logo.svg" alt=""></a></div>
        <div class="footer__policy"><a href="#">Политика конфиденциальности</a></div>
    </div>
</section>