<header class="l-header">
    <div class="header">
        <div class="header__sandwich hide-on-desktop">
            <span class="js-sidebar-show"><img src="./img/menu.svg" alt=""></span>
        </div>
        <nav class="header__menu hide-on-tablet hide-on-mobile">
            <a href="#">О себе </a>
            <a href="#">Консультации</a>
            <a href="#">Курсы</a>
            <a href="#">статьи</a>
        </nav>
        <div class="header__logo hide-on-desktop"><a href="/"><img src="./img/logo.svg" alt=""></a></div>
        <div class="header__btn">
            <a href="#">
                <img class="hide-on-tablet hide-on-desktop" src="./img/edit.svg" alt="">
                <span class="hide-on-mobile">Оставить заявку</span>
            </a>
        </div>
        <div class="header__social hide-on-tablet hide-on-mobile">
            <a href="#"><img src="./img/social-wup.svg" alt=""></a>
            <a href="#"><img src="./img/social-viber.svg" alt=""></a>
            <a href="#"><img src="./img/social-teleg.svg" alt=""></a>
            <a href="#"><img src="./img/social-inst.svg" alt=""></a>
        </div>
    </div>
</header>