<div class="detail-article">
    <div class="detail-article__inner">
        <div class="detail-article__top">
            <h1 class="h2">По молодости купили тесную однушку и сильно пожалели.</h1>
            <p>К счастью, удалось обменять ее на квартиру побольше и поновее</p>
            <div class="detail-article__date">29 апреля 2021</div>
        </div>
        <div class="detail-article__pic">
            <figure>
                <picture>
                    <source srcset='./img/news-pic.webp' type='image/webp'>
                    <source srcset='./img/news-pic.jpg' type='image/jpeg'>
                    <img src='./img/news-pic.jpg' alt=''>
                </picture>
                <figcaption>Подпись к фотографии </figcaption>
            </figure>
        </div>
        <div class="detail-article__content">
            <h2 class="h3">Почему мы хотели поменять квартиру</h2>
            <p>Еще до знакомства каждый из нас мечтал о собственном жилье – муж в свое время достаточно пожилв общежитиях, а потом и на съемных квартирах. А я хотела как можно быстрее сбежать из-под властной опеки родителей. Чем больше пыталась принимать самостоятельные решения, тем больше встречала непонимания с их стороны. Из-за этого у нас здорово портились отношения.</p>
            <p>Когда мы с Димой влюбились и решили пожениться, мечта иметь свое жилье уже стала общей. Поэтому мы не стали спускать много денег на свадьбу, а сосредоточились на покупке квартиры. Денег было мало, поэтому взяли очень дешевую и маленькую однушку. Тогда она нам казалась раем.</p>
        </div>
        <div class="detail-article__pic">
            <figure>
                <picture>
                    <source srcset='./img/news-pic.webp' type='image/webp'>
                    <source srcset='./img/news-pic.jpg' type='image/jpeg'>
                    <img src='./img/news-pic.jpg' alt=''>
                </picture>
                <figcaption>Подпись к фотографии </figcaption>
            </figure>
        </div>
        <div class="detail-article__content">
            <h2 class="h3">Почему мы хотели поменять квартиру</h2>
            <p>Еще до знакомства каждый из нас мечтал о собственном жилье – муж в свое время достаточно пожилв общежитиях, а потом и на съемных квартирах. А я хотела как можно быстрее сбежать из-под властной опеки родителей. Чем больше пыталась принимать самостоятельные решения, тем больше встречала непонимания с их стороны. Из-за этого у нас здорово портились отношения.</p>
            <p>Когда мы с Димой влюбились и решили пожениться, мечта иметь свое жилье уже стала общей. Поэтому мы не стали спускать много денег на свадьбу, а сосредоточились на покупке квартиры. Денег было мало, поэтому взяли очень дешевую и маленькую однушку. Тогда она нам казалась раем.</p>
        </div>
        <div class="detail-article__btns">
            <div class="detail-article__btn">
                <a href="#" class="button-icon"><img src="./img/thumbs-up.svg" alt="">1.6 тыс. нравится</a>
            </div>
            <div class="detail-article__btn">
                <a href="#" class="button-icon"><img src="./img/thumbs-down.svg" alt="">Не нравится</a>
            </div>
            <div class="detail-article__btn">
                <a href="#" class="button-icon"><img src="./img/share.svg" alt="">Поделиться</a>
            </div>
        </div>
    </div>
</div>