<div class="detail-course">
    <div class="detail-course__top">
        <div class="detail-course__details">
            <div class="detail-course__pic">
                <picture>
                    <source srcset='./img/course-pic.webp' type='image/webp'>
                    <source srcset='./img/course-pic.jpg' type='image/jpeg'>
                    <img src='./img/course-pic.jpg' alt=''>
                </picture>
            </div>
            <div class="detail-course__about">
                <h1 class="h2">Аркано-Нумерологический портрет </h1>
                <div class="detail-course__cost">10 000 ₽ / 3000 ₴</div>
                <div class="detail-course__buy">
                    <a href="" class="b-button b-button--mw350">Заказать</a>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="detail-course__content">
            <div class="detail-course__btn">
                <a href="#" class="button-icon"><img src="./img/share.svg" alt="">Поделиться</a>
            </div>
            <h2 class="h3">Диагностика энергетики</h2>
            <p>Проработка каждой чакры</p>
            <p>Области потери энергии</p>
            <p>Ресурсы для восполнения энергией</p>
            <h2 class="h3">Полный анализ личности</h2>
            <p>Анализ прошлого</p>
            <p>Скрытые способности и потенциал</p>
            <p>Подсознательные страхи, комплексы кармические узлы (кармические ошибки)</p>
            <p>Стратегия взаимодействия с другими людьми отношения</p>
            <p>Финансы</p>
            <h2 class="h3">Родовые программы</h2>
            <p>Сила, талант, блоки (зароки), потенциал данные при рождении</p>
            <p>Задачи (чего хочет от вас род)</p>
            <p>Предназначение</p>
            <p>Стратегия взаимодействия с другими людьми отношения</p>
            <blockquote>Взаимодействие карт Таро и Нумерологии позволяет наиболее точно расшифровать информацию о человеке, выявить скрытые смыслы настоящего и проанализировать варианты развития будущего.</blockquote>
        </div>
    </div>
    <div class="detail-course__catalog">
        <h2>Консультации</h2>
        //= ./swiper-catalog.html
    </div>
</div>