<div class="slide-badge">
    <div class="slide-badge__title"><span data-swiper-parallax-opacity="0">О себе </span></div>
    <div class="slide-badge__num" data-swiper-parallax-opacity="0">01</div>
</div>
<div class="content-block" data-swiper-parallax-opacity="0">
    <div class="content-block__content" data-swiper-parallax="-200">
        <h2 class="h1" data-swiper-parallax="100">Хирургия души</h2>
        <p>Работа с подсознанием человека</p>

        <div class="content-block__pic hide-on-desktop" data-swiper-parallax="-100">
            <picture>
                <source srcset='./img/content-pic-1.webp' type='image/webp'>
                <source srcset='./img/content-pic-1.jpg' type='image/jpeg'>
                <img src='./img/content-pic-1.jpg' alt=''>
            </picture>
        </div>
        
        <div class="content-block__content-inner">
            <h3>Скалина Юлия </h3>
            <p>Автор тренинговых программ и курсов по тарологии, родологии и исцеляющему дыханию.</p>
            <p>Таролог</p>
            <p>Нумеролог</p>
            <p>Родолог</p>
            <p>Онейролог. Эксперт по работе со сновидениями</p>
            <p>Мастер метафорических карт (МАК) технологии «Мгновенное исцеление».</p>
            <p>Тренер дыхательных практик.</p>
        </div>
    </div>
    <div class="content-block__pic hide-on-mobile hide-on-tablet" data-swiper-parallax="-100">
        <picture>
            <source srcset='./img/content-pic-1.webp' type='image/webp'>
            <source srcset='./img/content-pic-1.jpg' type='image/jpeg'>
            <img src='./img/content-pic-1.jpg' alt=''>
        </picture>
    </div>
</div>