<div class="slide-badge">
    <div class="slide-badge__title"><span data-swiper-parallax-opacity="0">Консультации</span></div>
    <div class="slide-badge__num" data-swiper-parallax-opacity="0">02</div>
</div>
<div class="content-block" data-swiper-parallax-opacity="0">
    <div class="content-block__content" data-swiper-parallax="-200">
        <h2 class="h1" data-swiper-parallax="100">Консультации</h2>
        <p>Я предлагаю две удобные формы для получения ответов на ваши вопросы</p>
        <div class="content-block__pic hide-on-desktop" data-swiper-parallax="-400">
            <picture>
                <source srcset='./img/content-pic-2.webp' type='image/webp'>
                <source srcset='./img/content-pic-2.jpg' type='image/jpeg'>
                <img src='./img/content-pic-2.jpg' alt=''>
            </picture>
        </div>
        <div class="content-block__content-inner">
            <ul class="content-block__list">
                <li>
                    <div class="content-block__list-title"><span>01.</span>Онлайн <br> консультация</div>
                    <p>Для этого вам понадобится час свободного времени и телефон, с помощью которого будет проходит общение в видео или аудио форматах.</p>
                </li>
                <li>
                    <div class="content-block__list-title"><span>02.</span>Офлайн <br> консультация</div>
                    <p>Для этого мне понадобится ваша свежая фотография (селфи) и дата рождения. Результаты офлайн консультаций отправляются в мессенджер аудиосообщением и различными файлами для работы.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-block__pic hide-on-mobile hide-on-tablet" data-swiper-parallax="-400">
        <picture>
            <source srcset='./img/content-pic-2.webp' type='image/webp'>
            <source srcset='./img/content-pic-2.jpg' type='image/jpeg'>
            <img src='./img/content-pic-2.jpg' alt=''>
        </picture>
    </div>
</div>