<div class="slide-badge">
    <div class="slide-badge__title"><span data-swiper-parallax-opacity="0">Оставить заявку</span></div>
    <div class="slide-badge__num" data-swiper-parallax-opacity="0">04</div>
</div>
<div class="form" data-swiper-parallax-opacity="0">
    <h2 class="h1">Оставить заявку</h2>
    <div class="form__form" data-swiper-parallax="-100">
        <form>
            <div class="form__line">
                <label>Ваш номер телефона</label>
                <input type="text" class="js-mask-phone">
            </div>
            <div class="form__line">
                <label>Выберете удобный мессенджер для связи</label>
                <select>
                    <option selected disabled>Выберете мессенджер</option>
                    <option>Viber</option>
                    <option>Telegramm</option>
                    <option>...</option>
                    <option>...</option>
                </select>
            </div>
            <div class="form__line">
                <label>Напишите коротко ваш вопрос</label>
                <textarea placeholder="Поле для текста"></textarea>
            </div>
            <div class="form__line form__line--btn">
                <button class="b-button">Отправить</button>
            </div>
        </form>
    </div>
</div>