<div class="news news--main" data-swiper-parallax-opacity="0">
    <h2 class="h1">Cтатьи</h2>
    <div class="news__items">
        <div class="news__item news__item--big" data-swiper-parallax="-200">
            <div class="news__pic">
                <a href="#">
                    <picture>
                        <source srcset='../img/news-list-pic.webp' type='image/webp'>
                        <source srcset='../img/news-list-pic.jpg' type='image/jkpeg'>
                        <img src='../img/news-list-pic.jpg' alt=''>
                    </picture>
                </a>
            </div>
            <div class="news__content">
                <div class="news__title"><a href="#">Онлайн консультация</a></div>
                <p>Для этого вам понадобится час свободного времени и телефон, с помощью которого будет проходит общение в видео или аудио форматах.</p>
            </div>
            <div class="news__more"><a href="#">Подробнее <img src="./img/arrow-more.svg" alt=""></a></div>
        </div>
        <!--  -->
        <div class="news__item"  data-swiper-parallax="-100">
            <div class="news__title"><a href="#">Онлайн консультация</a></div>
            <p>Для этого вам понадобится час свободного времени и телефон, с помощью которого будет проходит общение в видео или аудио форматах.</p>
            <div class="news__more"><a href="#">Подробнее <img src="./img/arrow-more.svg" alt=""></a></div>
        </div>
        <!--  -->
        <div class="news__item" data-swiper-parallax="-100">
            <div class="news__title"><a href="#">Онлайн консультация</a></div>
            <p>Для этого вам понадобится час свободного времени и телефон, с помощью которого будет проходит общение в видео или аудио форматах.</p>
            <div class="news__more"><a href="#">Подробнее <img src="./img/arrow-more.svg" alt=""></a></div>
        </div>
    </div>
</div>