<div class="news__item">
    <div class="news__pic">
        <a href="#">
            <picture>
                <source srcset='../img/news-list-pic.webp' type='image/webp'>
                <source srcset='../img/news-list-pic.jpg' type='image/jkpeg'>
                <img src='../img/news-list-pic.jpg' alt=''>
            </picture>
        </a>
    </div>
    <div class="news__date">29 апреля 2021</div>
    <div class="news__title"><a href="#">Онлайн консультация</a></div>
    <p>Для этого вам понадобится час свободного времени и телефон, с помощью которого будет проходит общение в видео или аудио форматах.</p>
    <div class="news__more"><a href="#">Подробнее <img src="./img/arrow-more.svg" alt=""></a></div>
</div>