<nav class="sidebar__menu">
    <ul class="sidebar__menu-level-1 js-menu-main">
        <li class="sidebar__menu-item-1">
            <span><a href="#">О себе </a></span>
        </li>
        <li class="sidebar__menu-item-1">
            <span><a href="#">Консультации</a></span>
        </li>
        <li class="sidebar__menu-item-1">
            <span><a href="#">Курсы</a></span>
        </li>
        <li class="sidebar__menu-item-1">
            <span><a href="#">статьи</a></span>
        </li>
    </ul>
</nav>