<div class="sidebar js-sidebar">
    <div class="sidebar__top">
        <span class="js-sidebar-hide"><img src="./img/cross.svg" alt=""></span>
        <a href="#" class="sidebar__logo"><img src="./img/logo.svg" alt=""></a>
        <a href="#"><img src="./img/edit.svg" alt=""></a>
    </div>
    <div class="sidebar__inner">
        //= ./sidebar-menu.html
    </div>
    <div class="sidebar__social">
        <a href="#"><img src="./img/social-wup.svg" alt=""></a>
        <a href="#"><img src="./img/social-viber.svg" alt=""></a>
        <a href="#"><img src="./img/social-teleg.svg" alt=""></a>
        <a href="#"><img src="./img/social-inst.svg" alt=""></a>
    </div>
</div>
<div class="sidebar-bg js-sidebar-bg js-sidebar-hide"></div>