<div class="swiper swiper-main">
    <div class="swiper-wrapper ">
        <div class="swiper-slide" data-hash="main">
            //= ./main-slide-1.html
        </div>
        <div class="swiper-slide" data-hash="consultations">
            //= ./main-slide-2.html
        </div>
        <div class="swiper-slide" data-hash="catalog">
            //= ./main-slide-3.html
        </div>
        <div class="swiper-slide" data-hash="callback">
            //= ./main-slide-4.html
        </div>
        <div class="swiper-slide" data-hash="courses">
            //= ./main-slide-5.html
        </div>
        <div class="swiper-slide" data-hash="articles">
            //= ./main-slide-6.html
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev swiper-button-prev-main"></div>
    <div class="swiper-button-next swiper-button-next-main"></div>
</div>