.l-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;

    @media (min-width: $breakpoint-tablet) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}
/*----------*/
.l-header {
    margin: auto;
    max-width: 1280px;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
    }
    @media (min-width: $breakpoint-desktop) {
    }
}
/*----------*/
.l-content {
    flex: 1 auto;

    .content__wrap {
        margin: auto;
        max-width: 146rem;
        width: 100%;

        &--full {
            max-width: 100%;
        }
    }
}
/*----------*/
.l-footer {
    margin: auto;
    max-width: 146rem;
    width: 100%;
}
/*----------*/
